@model IEnumerable<project_scoo.Models.Trip>

@{
    ViewData["Title"] = "BookedList";
}

<h1 class="my-5 display-3 fw-bold ls-tight container-md">

    <span class="text-primary">Booked trips List</span>
</h1>
<br />


<div class="container">
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumOfBusses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfBusses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id">Unbook</a>
            </td>
        </tr>
}
    </tbody>
</table>
    <br />
    <br />
    <div>
        <a asp-action="TripList" class="btn btn-outline-primary container col-1 ">See all Trips</a>

    </div>
</div>