@model IEnumerable<project_scoo.Models.Trip>

@{
    ViewData["Title"] = "TripList";
}

<h1>TripList</h1>

<p>
    <a asp-action="BookedList">Show Booked</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumOfBusses)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Destination)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfBusses)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Destination)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> 
                <a asp-action="Book" asp-route-id="@item.Id">Book</a>
            </td>
        </tr>
}
    </tbody>
</table>
